@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    color: blueviolet;
    font-size: 200%;
}
  
.logo:hover {
    color: var(--orange);
}

.ruler_combo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ruler {
    width: 97vw;
    margin-top: 10px;
    height: 3px;
    background-color: #9DF1DF;
}



.row_box_collection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 88vw;
}
.first_box{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(218,35,135,1) 20%, rgba(191,57,150,1) 35%, rgba(0,212,255,1) 100%);
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.imagelogo{
    height: auto;
    width: 60%;
}
.additionals{
    padding-top: 8px;
    font-weight: 600;
    font-family: PT Sans;
}
.second_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    background: linear-gradient(180deg, rgba(218,35,135,1) 20%, rgba(191,57,150,1) 35%, rgba(0,212,255,1) 100%);
    padding-left: 2%;
    padding-right: 3%;
}

.third_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    background: linear-gradient(180deg, rgba(218,35,135,1) 20%, rgba(191,57,150,1) 35%, rgba(0,212,255,1) 100%);
    padding: 2%;

}
.qrimage{
    height: auto;
    width: 85%;
}
.links{
    display: flex;
    flex-wrap: wrap;
}
.last_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    background: linear-gradient(180deg, rgba(218,35,135,1) 20%, rgba(191,57,150,1) 35%, rgba(0,212,255,1) 100%);
    padding: 2%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.external_links{
    font-family: PT Sans;
    display: flex;
    flex-wrap: wrap;
}

.text{
    display: flex;
    flex-wrap: wrap;
    font-family: PT Sans;
}

.ruler_twos{
    width: 97vw;
    margin-top: 8px;
    height: 3px;
    background-color: #9DF1DF;


}
.content{
    color: brown;
    padding-top: 2%;
    margin-top: 5px;
    font-family: Roboto Mono;
}
.terms {
    color: brown;
    margin-top: 7px;
    margin-right: 6px;
    font-family: Roboto Mono;
}
.privacy {
    color: brown;
    margin-top: 7px;
    font-family: Roboto Mono;
}


.end_content{
    background-color: #36ABFF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 88vw;
}
.left_content{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 1.2rem;
    margin-right: 1vw;

}
.right_content {
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    justify-content: center;
    align-items: flex-start;
    width: 60vw;
}
.contact{
    margin-bottom: 7px;
    text-align: center;
    align-self: center;
    font-family: Roboto Mono;
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 60vw;
}

@media only screen and (max-width: 900px) {
    .row_box_collection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .first_box{
        border-radius: 0%;
        margin-left: 5px;
        padding-bottom: 5px;
    }
    .second_box{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    .third_box{
        margin-top: 10px;
        height: 45vh;
    }

    .imagelogo{
        height: auto;
        width: 25vh;
    }

    .qrimage{
        height: auto;
        width: 30vh;
        padding: 0;
    }
    .last_box{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0%;
    }
}